*{
    border: none;
    padding: 0;
    margin: 0;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
button:focus { outline: none; }
input:focus, textarea:focus, select:focus{
    outline: none;
}

#container{ 
    margin-top: 50px;
}

#newTask{
    border-radius: 15px;
    cursor: text;
    width: 400px;
    height: 40px;
    font-size: 15px;
  
    color: #000000;
    font-weight: bold;
    display:flex;
    margin: auto;
    padding: 0 10px;
    background-color: rgb(75, 214, 224);
   
}


#newTask:hover{
    background-color: rgb(98, 218, 248);
    box-shadow: 0 0 10px rgb(21, 124, 150);
}


#newTask:focus{
    background-color: rgb(98, 218, 248);
    box-shadow: 0 0 10px rgb(21, 124, 150);
    border:1px solid rgb(6, 98, 121);
}

#addNew{
   width: 100%;
   display: flex;
   margin-top: 15px;
   justify-content: center;
   align-items: center;
}

#addNewBtn{
    font-weight: bold;
    border:1px solid  rgb(98, 218, 248);
}

#addNewBtn:hover{
   
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 0 10px rgb(21, 124, 150);
}

::placeholder{
color: rgb(0, 0, 0);
opacity: 0.3;
}


#button-boxes{
    width: 400px;
    margin: 5px auto;
    text-align: center; 
}

#button-boxes button:first-child{
    display: block;
    margin: 10px auto;
}

.server-btn{
    margin: 10px auto;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.server-btn button{
    margin-left: 10px;
    background-color: rgb(245, 245, 245);
    font-weight: bold;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(0, 0, 0) ;
}

.server-btn button:hover{
    background-color: rgb(87, 194, 243);
    color: black;
}

button{
    margin: auto;
    width: 98px;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    border: 1px solid black;
}


#content{
    margin: 50px auto;
    min-width: 500px;
}


#table-list{
    position: relative;
    margin: auto;
    width: 500px;
   
}


.todo{ 
    border: 1px solid  rgb(87, 194, 243);
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    padding-left: 50px;
    padding-right: 70px;
    position: relative;
    margin-top: 5px;
}

.completed-todo{
    text-decoration: line-through;
    color: white;
    background-color: rgb(21, 124, 150);
}




.removebtn{
    
    position: absolute;
    right:54px;
    top: 7px;
     width: 30px;
    background-color: transparent;
    color:rgb(0, 0, 0);
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.removebtn:hover{
 
    color: rgb(255, 0, 0);
   

}

.inpcheckbox{
    position: absolute;
    top: 16px;
    right:12px;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.inpcheckbox:checked{
    background-color: transparent;
}

.editicon{
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 35px;
    height: 18px;
}

.editicon:hover{
    transition: all 0.3s;
    height: 17px;
    width: 17px;
}


#editbox{
    position: fixed;
    top: 40%;
    left: 0;
    right: 0;
    width: 700px;
    height: 60px;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid black;
    margin: auto;

}


#editbtn{
    position: fixed;
    display: flex;
    top: 53%;
    left: 0;
    right: 0;
    width: 150px;
    height: 70px;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 25px;
    border-radius: 15px;
    border: 1px solid black;
    cursor: pointer;
    background-color: rgb(32, 83, 250);
}

#okedit:hover{
    transition: 0.5s;
    background-color: cornflowerblue;
}

#editContainer{
    display: none;
}

.active-state{
    background-color:#329ddb;
}

.active-state:hover{
    background-color: #00a2ff;
}

.edit-station-on{
    display: block !important;
}



.opacity{
    opacity: 0.5;
}

.hide-btn{
    display: none !important ;
}



.header{
    background-image: linear-gradient(to right,rgba(255, 207, 167, 0.041),rgb(25, 43, 150));
    box-shadow: 0px 0px 20px 2px rgb(21, 122, 153);
    height: 50px;
    width: auto;
    position: relative;
    top: 0;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
    
}

.header .icon img{
    height: 70px;
    position: absolute;
    left: 20px;
    top: 0px;
}

.app-name{
    color: rgb(75,111,223);
    width: 250px;
    margin: auto;
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 24px;
    display: inline-block;
    font-family: sans-serif;
}

.header span{
    height: 50px;
    width: 1px;
}


.header .left-span{
    position: absolute;
    right: 120px;
    background-color: rgba(248, 248, 248, 0.5);
}


#name-user{
    position: absolute;
    top: 24px;
    width: fit-content;
    left:25px;
    font-weight: bold;
    font-size: 17px;
    font-family: sans-serif;
    color:rgb(75,111,223);
}


.header .right-span{
    position: absolute;
    left: 195px;
    background-color: rgba(38, 76, 202, 0.712);
}

#username{
    position: absolute;
    top: 85px;
    width: fit-content;
    left: 25px;
    color:  rgba(38, 76, 202, 0.712) !important;
    font-size: 17px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
}


.headerOption{
    position: absolute;
    top: 14px;
   
    height: 20px;
    padding: 10px 5px;
    border-radius: 50%;
    font-size: 17px;
    font-family: sans-serif;
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.432);
    cursor: pointer;
    transition: 0.3s;
}
.headerOption:hover{
    
    background-color: white;
    color: red;
    box-shadow: 0 0 3px 1px rgb(150, 150, 150);
}


.sign-btn-head{
    width: 70px;
    right: 30px;

}
